body {
	font-family:helvetica,tahoma,verdana,sans-serif;
  margin:50px 0px; padding:0px;
  font-size:13px;
  background-color:#fff !important;
  text-align:center;
  color: #000;
}

#content {
  width:400px;
  margin:0px auto;
  text-align:left;
}

a {
  color: #4c423d;
}

i {
  
}

#twitter td,
#github td {
  font-size: 13px;
/*  color: #222;*/
}

#twitter_profile_img {
  float: left;
  padding-right: 1em;
}

#twitter_description {
  text-align: right;
}